body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white-color);
  color: var(--title-text-color);
  letter-spacing: 0.03em;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
