.advantages__list {
  @extend %centeredFlex;
}

.advantages__item {
  width: 270px;
  display: block;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.advantages__devices {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  @extend %centeredFlex;
  border-radius: 4px;
}
.main-advantages__title {
  @extend %hidden;
}

.advantages__title {
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--paragraf-color);
}
