.companies {
  padding: 94px 215px;
}

.companies-list {
  display: flex;
  justify-content: center;
}
.companies-item:not(:last-child) {
  margin-right: 30px;
}

.companies-link {
  width: 170px;
  height: 92px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }
}

.company-icon {
  fill: currentColor;
}
