.our-members {
  background-color: #f5f4fa;
}

.img-list {
  @extend %centeredFlex;
}

.team-item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.socials {
  width: 206px;
  height: 44px;
  margin-right: 32px;
  margin-left: 32px;
  margin-bottom: 30px;
  display: flex;
}

.comapnies-item:not(:last-child) {
  margin-right: 10px;
}

.mbr-name {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
.mbr-text {
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
  color: var(--paragraf-color);
}
